az_region = "switzerlandnorth"
az_resource_group = "MyResourceGroup" # Must already exist
az_image_gallery = "MyImageGallery"   # Must already exist
az_subscription_id = "YOUR_SUBSCRIPTION_ID"
az_client_id = "YOUR_CLIENT_ID"
az_client_secret = "YOUR_CLIENT_SECRET"
division = "id"
subDivision = "sys"
owner = "image.engineer"
prefix = "myprefix"
